/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button{
	-fx-background-color:  #211442;
	-fx-background-radius: 20px;
}
.text-field {
    -fx-background-color:  #211442;
	-fx-text-inner-color: #FFFFFF;
	-fx-background-radius: 20px;
}
.pane{
	-fx-background-image: url(\"file:src/main/resources/images/Splash1.png\");
    /*-fx-background-image: url("../images/fondoApp.jpg");*/
	-fx-background-size: 700, 500;
	/*-fx-background-repeat: no-repeat;*/
	-fx-background-position: center;
	-fx-background-color:  #211442;
		
}
.root-pane-app{
	/*-fx-background-color:  #8A65D5;*/
	-fx-background-color: #6443A6;
	
}
.root-pane-app .button{
	-fx-text-fill:#FFFFFF;	
	-fx-background-color:  #211442;
	-fx-background-radius: 20px;	
}
.root-pane-app .label{
	-fx-text-fill:#FFFFFF;
	
}
.alert{
	-fx-background-color:   #35206A;
	-fx-opacity:0.55;
	/*-fx-background-radius: 20px;*/
}
.alert > .content.label {
	-fx-text-fill:#FFFFFF;
	
}
.alert .button{
	-fx-text-fill:#FFFFFF;	
	-fx-background-color:  #211442;
	-fx-background-radius: 20px;
}
